 /* <!-- OUR SERVICE --> */
 .serviceContent {
     padding: 25px;
 }

 .rowOne:hover {
     background-color: #F4F1EA;
 }

 .rowTwo:hover {
     background-color: #ADA0E8;
 }

 .rowThree:hover {
     background-color: #E6E6E6;
 }

 .rowFour:hover {
     background-color: #B6E3F8;
 }

 .rowFive:hover {
     background-color: #EBD3D3;
 }

 .rowSix:hover {
     background-color: #E5F1E6;
 }

 .text-title {
     color: #212529 !important;
     text-transform: uppercase;
     letter-spacing: 1.8px;
     font-size: 50px;
     font-weight: 700;
     margin-left: 15px;
 }

 .text-title :hover {
     transform: translateY(-3px);
 }


 .text-pra {
     color: #212529 !important;
     font-size: 32px;
     text-transform: capitalize;
     font-weight: 400;
     line-height: 1.3em;
     /* letter-spacing: 0.5px;
    word-spacing: 0.1px; */
 }

 .text-pra span {
     opacity: 0;
     display: inline-block;
     transform: translateY(20px);
 }

 @media (max-width: 768px) {
     .text-pra {
         font-size: 1.25rem;

     }
 }

 @media (max-width: 576px) {
     .text-pra {
         font-size: 1rem;

     }
 }

 /* <!-- SECTION OF ALL SERVICES PROVIDE --> */
 .image-wrapper {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;

 }


 .image-wrapper img {
     height: 300px !important;
 }

 .service-box {
     position: relative;
     background-color: white;
     transition: background-color 0.5s ease;
     padding: 0%;
     border-radius: 25px !important;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     /* Ensures content doesn't break */
 }

 .service-box .image-wrapper {
     opacity: 0;
     transition: opacity 0.5s ease;

 }


 .icon {
     position: absolute;
     right: 50px;
     bottom: 120px;
     font-size: 24px;
     padding: 25px 30px;
     border-radius: 50%;
     /* transform: translate(-50%, -50%) rotate(0deg); */
     transition: transform 0.3s ease-in-out;
 }

 .icons {
     margin-top: 10px;
     width: 60px;
     height: 60px;
     background: #b771e58d;
     color: white;
     border-radius: 50%;
     font-size: 24px;
     margin-bottom: 20px;
 }

 .fa-arrow-right {
     transition: transform 0.3s ease-in-out;

 }

 .service-box:hover .fa-arrow-right {
     transform: rotate(-50deg);
 }

 .fa-code {
     padding: 18px 15px;
 }

 .service-box:hover .icon {
     transform: translate(-170%, 10%) rotate(360deg);
     background: #B771E5;
 }

 .service-box:hover .image-wrapper {
     opacity: 1;
 }

 .service-box:hover .text-service {
     transform: translateY(-3px);
 }

 .text-service {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 27px;
     line-height: 1.3em;
     color: #000;
     font-weight: 600;
     cursor: pointer;
     position: relative;
     display: inline-block;
     transition: color 0.4s ease-in-out;
 }

 .text-service::after {
     content: "";
     position: absolute;
     left: 50%;
     bottom: -5px;
     width: 0;
     height: 2px;
     background-color: #FF2929;
     transition: all 0.4s ease-in-out;
     transform: translateX(-50%);
 }

 .service-box:hover .text-service::after {
     width: 100%;
 }

 .service-box .col-lg-5 {
     padding: 0;
     margin: 0;
 }

 .content-text {
     padding: 0 45px;
 }

 .text1 {
     color: #000;
     line-height: 1.3em;
     font-size: 19px;
     font-weight: 400;
 }

 @media (max-width: 768px) {
     .content-text {
         padding: 20px;
     }

     .text-service {
         font-size: 22px;
     }

     .text1 {
         font-size: 16px;
     }
 }

 @media (max-width: 991px) {
     .service-box {
         flex-direction: column;

         text-align: center;
     }

     .content-text {
         text-align: center;
     }
 }

 .text1 {
     text-transform: capitalize;
     color: #000;
     line-height: 1.5em;
     font-size: 19px;
     font-weight: 400;
 }