::selection {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.555);
}

/* SECTION ONE  */
nav {
    font-family: "Orbitron", serif;
}

.bg-img {
    /* background-image: url('assets/mainImage.jpg'); */
    /* background-size: cover; */
    /* background-color: #5b5b5b; */
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    z-index: -1;
}

/* Hover Effects for Cards */
.card {
    transition: all 0.3s ease;
    transform: translateZ(0);
    box-sizing: border-box;
}

.card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card-body {
    transition: box-shadow 0.3s ease;
}

.card:hover .card-body {
    box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.05);
}

.card-title {
    transition: color 0.3s ease;
}

.card:hover .card-title {
    color: #28a745;
}

.card-text li {
    transition: color 0.3s ease;
}

.card:hover .card-text li {
    color: #333;
}

/* image slider  */
.gallery {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery img {
    width: 20%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    background-position: top top;
    border: 2px solid #fff;
    transition: all ease-out 0.9s;
    cursor: pointer;
    overflow: hidden;
}

.gallery img:hover {
    width: 60%;
}

/* Text Shadow  */

.text-shadow {
    text-shadow: 2px 2px 4px #00000099;
    color: white;
    font-weight: bolder;

}

.bg-img2 {
    background-image: url('https://cdn.prod.website-files.com/677114b829f082f1f5dda0f8/677452af1c41a960b8ffdbaa_cta.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
    border-radius: 25px !important;
}

/* Footer  */
.icon i {
    transition: all 0.2s ease-in;
}

.icon i:hover {
    color: #ffc107;
}